    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Software is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>
              I am an architect/developer.  Lately, my preferred platform usually involves Ruby on Rails and Javascript, but
              I'm always looking for new languages, technologies, frameworks, etc. so I can be the
              most efficient building the features that my clients want.  I'm comfortable working on 
              projects using Node.js, Python (Flask/Django), React, Angular, among others.
              </p>

              <p>
              I've spent years learning
              how things work in a variety of environments, from tiny startups to Fortune 100 companies.
              Every organization is different and I specialize in finding the the best possible solution 
              that will fit in a particular situation.
              </p>

              <p>
              Some of my specialities include performance optimization, Test-Driven Development,
              domain modeling, process automation, and distributed architecture.
              </p>

              <p>
              If you need help defining the architecture for your solution, gathering requirements,
              defining processes, building/leading a team, or just developing the application, I can help.
              Please reach out via my <a href="/contact">contact form</a> so we can talk about how
              I can help your business reach it's full potential.
              </p>
            </div>
        </div>
    </div>

    <hr>
